.App {
    padding: 5px 10px;
}

.PlayerList {
    margin-top: 20px;
}

.Player {
    margin: 5px 0;
}

.Player.Dead {
    background: pink;
    font-family: "Comic Sans MS", sans-serif;
}

.Player.Dead button {
    pointer-events: none;
}

.Player-Header {
    display: flex;
}

.Player-Header h2 {
    padding: 0 5px;
    line-height: 1.5;
}

.Player-Header button {
    background: red;
    color: white;
    border: none;
    margin: 0 0 0 auto;
    padding: 5px 10px;
}

.Player-Header span {
    background: green;
    color: white;
    padding: 5px 10px;
}
